# Explorative Datenanalyse der Kriminalit√§t in Chicago
----

# Konfiguration

In [1]:
%matplotlib inline
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [9]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

<style>body {
    margin: 0;
    font-family: Helvetica;
}
table.dataframe {
    border-collapse: collapse;
    border: none;
}
table.dataframe tr {
    border: none;
}
table.dataframe td, table.dataframe th {
    margin: 0;
    border: 1px solid white;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
table.dataframe th:not(:empty) {
    background-color: #fec;
    text-align: left;
    font-weight: normal;
}
table.dataframe tr:nth-child(2) th:empty {
    border-left: none;
    border-right: 1px dashed #888;
}
table.dataframe td {
    border: 2px solid #ccf;
    background-color: #f4f4ff;
}

table.dataframe td,
table.dataframe th {
    color: black;
}h3 {
    color: white;
    background-color: black;
    padding: 0.5em;
}
</style>

In [4]:
%%time
crimes = pd.read_csv(f"data/crimes.csv")

CPU times: user 33.5 s, sys: 5.11 s, total: 38.6 s
Wall time: 38.7 s

In [5]:
list(crimes)

['ID',
 'Case Number',
 'Date',
 'Block',
 'IUCR',
 'Primary Type',
 'Description',
 'Location Description',
 'Arrest',
 'Domestic',
 'Beat',
 'District',
 'Ward',
 'Community Area',
 'FBI Code',
 'X Coordinate',
 'Y Coordinate',
 'Year',
 'Updated On',
 'Latitude',
 'Longitude',
 'Location']

In [8]:
crimes.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>Case Number</th>
      <th>Date</th>
      <th>Block</th>
      <th>IUCR</th>
      <th>Primary Type</th>
      <th>Description</th>
      <th>Location Description</th>
      <th>Arrest</th>
      <th>Domestic</th>
      <th>Beat</th>
      <th>District</th>
      <th>Ward</th>
      <th>Community Area</th>
      <th>FBI Code</th>
      <th>X Coordinate</th>
      <th>Y Coordinate</th>
      <th>Year</th>
      <th>Updated On</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10000092</td>
      <td>HY189866</td>
      <td>03/18/2015 07:44:00 PM</td>
      <td>047XX W OHIO ST</td>
      <td>041A</td>
      <td>BATTERY</td>
      <td>AGGRAVATED: HANDGUN</td>
      <td>STREET</td>
      <td>False</td>
      <td>False</td>
      <td>1111</td>
      <td>11.0</td>
      <td>28.0</td>
      <td>25.0</td>
      <td>04B</td>
      <td>1144606.0</td>
      <td>1903566.0</td>
      <td>2015</td>
      <td>02/10/2018 03:50:01 PM</td>
      <td>41.891399</td>
      <td>-87.744385</td>
      <td>(41.891398861, -87.744384567)</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10000094</td>
      <td>HY190059</td>
      <td>03/18/2015 11:00:00 PM</td>
      <td>066XX S MARSHFIELD AVE</td>
      <td>4625</td>
      <td>OTHER OFFENSE</td>
      <td>PAROLE VIOLATION</td>
      <td>STREET</td>
      <td>True</td>
      <td>False</td>
      <td>725</td>
      <td>7.0</td>
      <td>15.0</td>
      <td>67.0</td>
      <td>26</td>
      <td>1166468.0</td>
      <td>1860715.0</td>
      <td>2015</td>
      <td>02/10/2018 03:50:01 PM</td>
      <td>41.773372</td>
      <td>-87.665319</td>
      <td>(41.773371528, -87.665319468)</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10000095</td>
      <td>HY190052</td>
      <td>03/18/2015 10:45:00 PM</td>
      <td>044XX S LAKE PARK AVE</td>
      <td>0486</td>
      <td>BATTERY</td>
      <td>DOMESTIC BATTERY SIMPLE</td>
      <td>APARTMENT</td>
      <td>False</td>
      <td>True</td>
      <td>222</td>
      <td>2.0</td>
      <td>4.0</td>
      <td>39.0</td>
      <td>08B</td>
      <td>1185075.0</td>
      <td>1875622.0</td>
      <td>2015</td>
      <td>02/10/2018 03:50:01 PM</td>
      <td>41.813861</td>
      <td>-87.596643</td>
      <td>(41.81386068, -87.596642837)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10000096</td>
      <td>HY190054</td>
      <td>03/18/2015 10:30:00 PM</td>
      <td>051XX S MICHIGAN AVE</td>
      <td>0460</td>
      <td>BATTERY</td>
      <td>SIMPLE</td>
      <td>APARTMENT</td>
      <td>False</td>
      <td>False</td>
      <td>225</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>40.0</td>
      <td>08B</td>
      <td>1178033.0</td>
      <td>1870804.0</td>
      <td>2015</td>
      <td>02/10/2018 03:50:01 PM</td>
      <td>41.800802</td>
      <td>-87.622619</td>
      <td>(41.800802415, -87.622619343)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10000097</td>
      <td>HY189976</td>
      <td>03/18/2015 09:00:00 PM</td>
      <td>047XX W ADAMS ST</td>
      <td>031A</td>
      <td>ROBBERY</td>
      <td>ARMED: HANDGUN</td>
      <td>SIDEWALK</td>
      <td>False</td>
      <td>False</td>
      <td>1113</td>
      <td>11.0</td>
      <td>28.0</td>
      <td>25.0</td>
      <td>03</td>
      <td>1144920.0</td>
      <td>1898709.0</td>
      <td>2015</td>
      <td>02/10/2018 03:50:01 PM</td>
      <td>41.878065</td>
      <td>-87.743354</td>
      <td>(41.878064761, -87.743354013)</td>
    </tr>
  </tbody>
</table>
</div>

# Straftatentypen und deren H√§ufigkeit

In [204]:
crimes.groupby(crimes['Primary Type']).size().sort_values(ascending=False)

Primary Type
THEFT                                1417696
BATTERY                              1232015
CRIMINAL DAMAGE                       771356
NARCOTICS                             710760
OTHER OFFENSE                         418441
ASSAULT                               418375
BURGLARY                              387936
MOTOR VEHICLE THEFT                   314156
DECEPTIVE PRACTICE                    262300
ROBBERY                               255578
CRIMINAL TRESPASS                     193342
WEAPONS VIOLATION                      70639
PROSTITUTION                           68322
PUBLIC PEACE VIOLATION                 47775
OFFENSE INVOLVING CHILDREN             45301
CRIM SEXUAL ASSAULT                    27075
SEX OFFENSE                            25081
INTERFERENCE WITH PUBLIC OFFICER       15136
GAMBLING                               14422
LIQUOR LAW VIOLATION                   14061
ARSON                                  11151
HOMICIDE                                9421
KIDNAPPING                              6657
INTIMIDATION                            3932
STALKING                                3365
OBSCENITY                                580
CONCEALED CARRY LICENSE VIOLATION        283
NON-CRIMINAL                             163
PUBLIC INDECENCY                         161
OTHER NARCOTIC VIOLATION                 124
HUMAN TRAFFICKING                         49
NON - CRIMINAL                            38
RITUALISM                                 23
NON-CRIMINAL (SUBJECT SPECIFIED)           9
DOMESTIC VIOLENCE                          1
dtype: int64

# Straftaten vs. Verhaftungen

In [11]:
c = crimes
c = c.groupby(['Primary Type', 'Arrest']).size().sort_values(ascending=False)
c = c.unstack()
c['Total'] = c[False] + c[True]
c = c.sort_values(ascending=False, by='Total')
c = (c[True] / (c[True] + c[False]))
c = c.sort_values(ascending=False)
c = c.astype(float).map("{:.2%}".format)

### H√§ufige Verhaftung
Drogendelikte enden √ºberproportional oft in Verhaftungen.

In [12]:
c.head(10)

Primary Type
PROSTITUTION                         99.60%
NARCOTICS                            99.41%
PUBLIC INDECENCY                     99.38%
GAMBLING                             99.28%
LIQUOR LAW VIOLATION                 99.10%
CONCEALED CARRY LICENSE VIOLATION    93.29%
INTERFERENCE WITH PUBLIC OFFICER     91.72%
OBSCENITY                            82.76%
WEAPONS VIOLATION                    79.58%
CRIMINAL TRESPASS                    73.25%
dtype: object

### Seltene Verhaftung

In [13]:
c.tail(10)

Primary Type
ARSON                  13.02%
HUMAN TRAFFICKING      12.24%
THEFT                  11.95%
KIDNAPPING             11.12%
ROBBERY                 9.70%
MOTOR VEHICLE THEFT     9.13%
CRIMINAL DAMAGE         7.06%
NON-CRIMINAL            6.13%
BURGLARY                5.73%
DOMESTIC VIOLENCE        nan%
dtype: object